#slider-maxspeed{
    margin-left: 20px;
    margin-right: 20px;
    float:left; 
   }
   
#slider-maxforce{
    margin-left: 20px;
    margin-right: 20px;
    float:left; 
   }
   
#slider-mass{
    margin-left: 20px;
    margin-right: 20px;
    float:left; 
    }